/*div.body {
    min-width: 75%;
    max-width: 75%;
}*/

.page {
    padding-left: 0rem;
}

/*
nav.contents, aside.topic, div.topic {
    background-color: #eee;
    padding-left: 30px!important;
}*/

.wy-nav-content {
   max-width: 1350px;
}

.highlight {
    background: white;
    font-weight: bold;
}


.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #fff;
    text-align: center;
    color: #000!important;
}


.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    color: #000;
    font-size: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: .809em;
    max-width: 100%;
}

